Q1

In [1]:
# (i) String
strr = "Anand"

# (ii) List
listt = [1, 2, 3, 4, 5]

# (iii) Float
floatt = 3.14

# (iv) Tuple
tuplee = (10, 20, 30)

Q2->
(i) var1 = ‘ ‘ -> string
(ii) var2 = ‘[ DS , ML , Python]’ ->string
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] ->list
(iv) var4 = 1-> integer

Q3

In [4]:
# (i) The / operator is used for division in Python, and it returns the quotient 
res = 10 / 3
print(res)

3.3333333333333335

In [5]:
#(ii) The % operator is used for finding the remainder of the division between two numbers.
rem=10%3
print(rem)

1

In [6]:
#(iii) The // operator is used for floor division, which returns the largest integer less than or equal to the result of division.
res = 10 // 3
print(res)

3

In [7]:
#(iv) The ** operator is used for exponentiation, which raises the left operand to the power of the right operand.
res=2**3
print(res)

8

Q4

In [8]:
lis=[1,2,3,3.3,"Ramesh",4+5j,True,[11,22,33,44],32,"Suresh"]
for i in lis:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
3.3
<class 'float'>
Ramesh
<class 'str'>
(4+5j)
<class 'complex'>
True
<class 'bool'>
[11, 22, 33, 44]
<class 'list'>
32
<class 'int'>
Suresh
<class 'str'>

Q5

In [12]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))
count = 0
while A % B == 0:
    A = A / B
    count += 1

if A == 1:
    print("A is purely divisible by B")
    print(f"{count} times purely divisible")
else:
    print("A is not purely divisible by B")

Enter the number A:  8
Enter the number B:  2

A is purely divisible by B
3 times purely divisible

Q6

In [13]:
listt = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11, 12, 13, 14, 15, 16, 17, 18, 19, 20,21, 22, 23, 24, 25]
for i in listt:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7->

Mutable Data Types:

Mutable data types are those whose values can be changed after they are created. When you modify a mutable object, it is modified in place, and the same object is updated.
Common examples of mutable data types in Python include lists, dictionaries, and sets.

In [14]:
lis=[1,2,3,4,5]
print(lis)
lis[2]=55
print(lis)

[1, 2, 3, 4, 5]
[1, 2, 55, 4, 5]

Immutable Data Types:

Immutable data types are those whose values cannot be changed after they are created. When you modify an immutable object, you actually create a new object.
Common examples of immutable data types in Python include integers, floats, strings, and tuples.

In [15]:
strr="ABCD"
print(strr[2])
# so we cannot update the value in string
strr[2]="G"

C

TypeError: 'str' object does not support item assignment